<div class="containers-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <div class="row mb-5">
                <h2 class="text-center">Login</h2>
            </div>
            <div class="row">
                <form class="d-flex justify-content-center">
                    <label class="mx-2" for="username">Username:</label>
                    <input type="text" id="username">
                    <label class="mx-2" for="password">Password:</label>
                    <input type="text" id="password">
                    <input class="btn btn-primary mx-2" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/login.js"></script>